# OS junk
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual envs
venv/
.venv/
env/
ENV/

# IDE/Editor
.vscode/
.idea/

# Data & model artifacts (DO NOT PUSH)
dataset/
data/
datasets/
checkpoints/
runs/
logs/
outputs/
wandb/
tensorboard/
*.log

# Models
asl_model.pth
*.pt
*.pth
*.onnx

# Notebooks
.ipynb_checkpoints/
*.ipynb

# Builds
dist/
build/
